body{
    min-height: 80vh;
    display: flex;
    justify-content: center;
    align-items: center;

}
div {
    text-align: center;
}
div h2 {
    letter-spacing: 4px;
}
div input[type=number]{
    margin: 8px;
    padding: 10px;
    /* width: 100%; */

}
div input[type=number]:read-only {
    border-radius: 4px;
    background-color: rgb(0, 0, 0);
    color: rgb(246, 255, 0);
    font-size: 25px;
    font-weight: bold;
    text-align: center;
}
div button {
    margin: 5px;
    padding: 8px 8px;
    width: 50px;
    font-weight: bold;
    background-color: rgb(15, 161, 239);
}